<nav class="navbar navbar-light bg-light">
    <br><br>
</nav>
<div class='container-fluid bg-light text-center'>
    <h3>Login</h3>
    <form class="container form-group" novalidate [formGroup]="form">
        <label>Usuario</label>
        <input type="text" class="form-control" formControlName="usuario">
        <label>Senha</label>
        <input type="password" class="form-control" formControlName="senha">
        <P class="text-danger">{{frase}}</P>
        <br>
        <button class="btn btn-outline-primary" (click)="logar()">Logar</button>
    </form>
</div>