<nav class="navbar navbar-light ">
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="cadastro" class="nav-link active" routerLinkActive="disabled">Cadastrar</a>
        </li>
        <li>
            <a routerLink="deletar" class="nav-link active" routerLinkActive="disabled">Deletar</a>
        </li>
        <li>
            <a routerLink="consultar" class="nav-link active" routerLinkActive="disabled">Consultar</a>
        </li>
        <li>
            <a routerLink="atualizar" class="nav-link active" routerLinkActive="disabled">Atualizar</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a routerLink="" class="nav-link active" (click)="sair()">Sair</a>
        </li>
    </ul>
</nav>