<div class="container-fluid  text-center">
    <h3> Atualizar Usuario</h3>
    <div class="container form-group" *ngIf="!ativo" (keyup.enter)='buscar()'>
        <label>ID</label>
        <input type="text" class="form-control" [ngClass]="{'btn-outline-danger': error}" [(ngModel)]='id'>
        <br>
        <p *ngIf="frase != ''">{{frase}}</p>
        <button class="btn btn-primary" (click)='buscar()'>Buscar</button>
    </div>

    <div class="container form-group" *ngIf="ativo">
        <label>Usuario</label>
        <input type="text" class="form-control" [(ngModel)]='usuario[0].usuario' (keyup.enter)='atualizar()'>
        <label>Senha</label>
        <input type="password" class="form-control" [(ngModel)]='usuario[0].senha' (keyup.enter)='atualizar()'><br>
        <button class="btn btn-primary" (click)='atualizar()'>Atualizar</button>
        <button class="btn btn-primary" (click)='voltar()'>voltar</button>
    </div>
</div>